:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #343840 transparent;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #343840;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #464b55;
}